/* 
    Created on : 2 jul. 2020, 17:47:42
    Author     : Claudio Nicolas
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

header {
    background: linear-gradient(
        rgba(0,0,0,.6),
        rgba(0,0,0,.2),
        rgba(0,0,0,.6)),
        url("../img/Portada.JPG");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    -webkit-filter: brightness(180%);
    filter: brightness(180%);

}

.contenedor {
    width: 80%;
    margin: 0 auto;
}
/*Menú navegación*/
.navegator nav {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 0;
    display: none;
    z-index: 100;
}

.navegator nav ul {
    display: inline-block;
    list-style: none;
    margin-top: 15px;
}

.navegator nav ul li {
    padding: 40px;
    transition: all .3s ease;
    font-family: 'Megrim' , sans-serif;
    font-weight: bold;
}

.navegator nav ul li:hover {
    transform: scale(1.1);
}
.navegator nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    display: block;
}
/*Social Bar*/
.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;

}

#facebook a {
    background: #3b5998;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    width: 70px;
    border-radius: 10px 0 0 0;
    transition: all .4s ease;
}

#facebook a:hover {
    padding: 15px 50px;
    border-radius: 10px 0 0 10px;
}

#instagram a {
    background: #125688;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    width: 70px;
    transition: all .4s ease;
}

#instagram a:hover {
    padding: 15px 50px;
    border-radius: 10px 0 0 10px;
}

#whatsapp a {
    background: #4dc247;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    width: 70px;
    transition: all .4s ease;
    border-radius: 0 0 0 10px;
}

#whatsapp a:hover {
    padding: 15px 50px;
    border-radius: 10px 0 0 10px;
}

/*Header Logo Título*/
.contenedor-titulo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    background: url("../img/NoaFruitsLogo.jpeg");
    background-size: cover;
    background-position: center;
    margin: auto;
    padding: 150px 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container h5 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    text-align: center;
}

.container h3 {
    font-family: 'Megrim', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.container h2 {
    color: black;
    font-family: 'Megrim', sans-serif;
    text-align: center;
    font-weight: bold;
}
/*Contacto*/
.contacto {
    background: url("../img/imgContacto.JPG");
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
}
.contacto-texto {
    text-align: center;
}

.contacto-texto h3 {
    font-size: 32px;
    color: #fff;
    padding-top: 15px;
}

.contacto-texto h5 {
    text-align: center;
    color: #fff;
}

.contacto-texto h5 a {
    color: #7fffd4;
}
/*Footer*/
footer {
    height: 50px;
    background: black;
    text-align: center;
    padding-top: 15px;
}

footer p {
    color: #fff;
}
/*Tamaños Dispositivos*/
@media screen and (min-width:769px) {
    .navegator nav {
        display: inline;
    }
}

@media screen and (max-width:768px) and (min-width:481px) {
    .navegator nav {
        display: inline;
    }
}

@media screen and (max-width:480px) and (min-width:0px) {
    .img {
        background: url("../img/NoaFruitsLogo.jpeg");
        background-size: cover;
        background-position: center;
        margin: auto;
        padding: 80px;
        left: -ms- 50%;
    }

    .contacto-texto h3 {
        font-size: 30px;
        color: #fff;
        padding-top: auto;
    }
    .contacto-texto h5 {
        font-size: 23px;
        padding-top: auto;
    }
    .footer {
        height: auto;
        padding-top: auto;
        margin: auto;
        text-align: center;
    }
    .social-bar {
        position: fixed;
        right: 0;
        top: 75%;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 100;
    }

    #facebook a {
        background: #3b5998;
        padding: 10px 23px;
        color: #fff;
        text-decoration: none;
        width: 40px;
        border-radius: 10px 0 0 0;
        transition: all .4s ease;
    }

    #facebook a:hover {
        padding: 9px 30px;
        border-radius: 10px 0 0 10px;
    }

    #instagram a {
        background: #125688;
        padding: 10px 23px;
        color: #fff;
        text-decoration: none;
        width: 40px;
        transition: all .4s ease;
    }

    #instagram a:hover {
        padding: 9px 30px;
        border-radius: 10px 0 0 10px;
    }

    #whatsapp a {
        background: #4dc247;
        padding: 10px 23px;
        color: #fff;
        text-decoration: none;
        width: 40px;
        transition: all .4s ease;
        border-radius: 0 0 0 10px;
    }

    #whatsapp a:hover {
        padding: 9px 30px;
        border-radius: 10px 0 0 10px;
    }

}







